/* CSS declarations go here */

.sprint-menu
    margin 15px 0 0 0

.sprint-summary
    margin 15px 0 0 0
    width 80%
    height 200px

h1 input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"]
    font-size inherit
    height inherit
    width 300px