/* CSS declarations go here */

animate()
    -webkit-transition arguments
    -moz-transition arguments
    -o-transition arguments
    transition arguments

border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

.sprint-menu
    margin 15px 0 0 0

.sprint-main
    margin 0 0 0 20px

.sprint-summary
    margin 15px 0 0 0
    width 80%
    height 200px

#sprint-name
    font-size inherit
    font-family inherit
    font-weight inherit
    height inherit
    width 300px
    color #333
    margin -8px 0 -7px 0

.sprint-sidebar
    position fixed
    dl
        display block
    dt
        display inline-block
    dd
        display inline
.hotkey-list
    font-size .8em

//
//Story
//
.story:last-child
    border-top none
.story
    border-bottom 2px solid #08C
    padding 10px 0 5px 0
    //margin-bottom 5px

.story-buttons
    display inline

.story textarea
    resize none

.story-points, .task-points
    width: 20px

.story-commit
    display inline

.story-body
    //animate all 2.5s ease-in-out
    overflow hidden
    //max-height 170px

.story.dragging
    background-color #cdc

.story-move
    cursor move




.collapsed
    //max-height 0
    display none

ul.tasks
    margin-left 45px
    .dragging input
        background-color #fff8dc
    .dragging-other input
        //background-color #00d
.task-move:hover,.remove-task:hover,.task-move:active,.remove-task:active
    border-radius 8px
    border 1px solid #ccc
.add-task
    float right