<template name="sprint">
{{#with sprint}}

    {{#if editingName}}
      <h1 class="sprint-name">
        <input type="text" id="sprint-name" value="{{name}}">
      </h1>
    {{else}}
      <h1 class="sprint-name">{{name}}</h1>
    {{/if}}
    
    <div>
        {{> workstories}}
        <button class="btn btn-small add-story">
            <i class="icon-plus"></i>Add WorkStory
        </button>
    </div>
    
    <textarea readonly="readonly" class="sprint-summary">{{summary}}</textarea>
    
    <button id="sprint-remove" class="btn btn-danger">{{deleteButtonLabel}}</button>
{{/with}}
</template>

<template name="workstories">
    <ul class="unstyled stories">
    {{#each workStories}}
        <li class="story">
            <button class="story-collapse">
                <i class="{{#if isCollapsed}}icon-chevron-right{{else}}icon-chevron-down{{/if}} icon-white"></i>
            </button>
            <h2 class="story-commit">{{#if isCommitted}}C{{else}}S{{/if}}</h2>
            <input type="text" class="story-points" value="{{points}}">
            <input type="text" class="story-name" 
                value="{{name}}" placeholder="New WorkStory" />
                
            <div class="story-body {{#if isCollapsed}}collapsed{{/if}}">
                {{> tasks}}
                <button class="btn btn-small add-task">
                    <i class="icon-plus"></i>Add Task
                </button>
                <button class="btn btn-small btn-danger remove-story">
                    <i class="icon-remove"></i>Remove WorkStory
                </button>
                <div class="btn-group btn-group-vertical">
                    <button class="btn btn-mini btn-info story-moveup">
                        <i class="icon-arrow-up icon-white"></i>
                    </button>
                    <button class="btn btn-mini btn-info story-movedown">
                        <i class="icon-arrow-down icon-white"></i>
                    </button>
                </div>
            </div>
            
        </li>
    {{/each}}
    </ul>        
</template>

<template name="tasks">
    <ul class="unstyled tasks">
    {{#each tasks}}
        <li class="task">
            <input type="text" class="task-points" value="{{points}}">
            <input type="text" class="task-name" 
                value="{{name}}" placeholder="New Task" />
                
            <button class="btn btn-mini btn-info task-move">
                <i class="icon-screenshot icon-white"></i>
            </button>
            <button class="btn btn-mini btn-danger remove-task">
                <i class="icon-remove"></i>
            </button>
        </li>
    {{/each}}
    </ul>
</template>