<template name="sprint">
{{#with sprint}}

    {{#if editingName}}
      <h1 class="sprint-name">
        <input type="text" id="sprint-name" value="{{name}}">
      </h1>
    {{else}}
      <h1 class="sprint-name">{{name}}</h1>
    {{/if}}
    
    <div>
        {{> workstories}}
        <button class="btn btn-small add-story" tabindex="-1">
            <i class="icon-plus"></i>Add WorkStory
        </button>
    </div>
    
    <textarea readonly="readonly" class="sprint-summary">{{summary}}</textarea>
    
    <button id="sprint-remove" class="btn btn-danger">{{deleteButtonLabel}}</button>
{{/with}}
</template>

<template name="workstories">
    <ul class="unstyled stories">
    {{#each workStories}}
        <li class="story" id="{{id}}">
            <button class="story-collapse" tabindex="-1">
                <i class="{{#if isCollapsed}}icon-chevron-right{{else}}icon-chevron-down{{/if}} icon-white"></i>
            </button>
            <h2 class="story-commit">{{#if isCommitted}}C{{else}}S{{/if}}</h2>
            <input type="text" name="points" class="story-points" value="{{points}}">
            <input type="text" name="name" class="story-name" 
                value="{{name}}" placeholder="New WorkStory" />
            
            <button name="move" class="btn btn-mini btn-info story-move" tabindex="-1">
                <i class="icon-screenshot icon-white"></i>
            </button>
            <button name="remove" class="btn btn-small btn-danger remove-story" tabindex="-1">
                {{deleteLabel}}
            </button>
                
                
            <div class="story-body {{#if isCollapsed}}collapsed{{/if}}">
                {{> tasks}}
                <button name="add-task" class="btn btn-small add-task" tabindex="-1">
                    <i class="icon-plus"></i>Add Task
                </button>
            </div>
            
        </li>
    {{/each}}
    </ul>        
</template>

<template name="tasks">
    <ul class="unstyled tasks">
    {{#each tasks}}
        <li class="task {{taskDrag ../id}}" id="{{id}}">
            <input type="text" name="points" class="task-points" value="{{points}}">
            <input type="text" name="name" class="task-name" 
                value="{{name}}" placeholder="New Task" />
                
            <button name="move" class="btn btn-mini btn-link task-move" tabindex="-1">
                <i class="icon-screenshot"></i>
            </button>
            <button name="remove" class="btn btn-mini btn-danger remove-task" tabindex="-1">
                <i class="icon-remove"></i>
            </button>
        </li>
    {{/each}}
    </ul>
</template>